.container--forgotten-password {
  margin-top: 10vh;
  padding: 10.5rem 0;
}

.forgotten-password-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotten-password-details h1 {
  margin: 5px auto;
  font-size: 3rem;
  color: #3f4e4f;
}

.information-text-forgotten-password {
  color: #3f4e4f;
  font-size: 1.3rem;
}

.form-forgotten-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 350px;
}

.user-email-input {
  font-family: "Hubballi", cursive;
  background-color: #dcd7c9;
  border: 2px solid #a27b5c;
  border-radius: 4px;
  padding: 0px 15px;
  outline: none;
  height: 30px;
  font-size: 1.4rem;
  box-shadow: 0 1px 3px 1px #dcd7c9;
  width: 350px;
}

.message-email {
  height: 18px;
  color: red;
  margin: 0.5rem auto;
  font-size: 1.1rem;
}

.get-code-button {
  margin-top: 20px;
  border-radius: 4px;
  background-color: #3f4e4f;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #dcd7c9;
  padding: 15px 32px;
}

.get-code-button:hover {
  background-color: #a27b5c;
  color: white;
}

.divider {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 20px 0;
}

.divider hr {
  margin: auto 0;
  height: 1px;
  border: none;
  background-color: #3f4e4f;
  flex: 1 1 0%;
}

.divider div {
  padding: 0 10px;
}

.footer-forgotten-password {
  color: #3f4e4f;
  font-size: 1rem;
}

.container--sign {
  margin-bottom: 5px;
}

.container--sign a:hover {
  color: blue;
}

@media screen and (max-width: 450px) {
  .information-text-forgotten-password {
    text-align: center;
  }

  .form-forgotten-password {
    width: 300px;
  }

  .user-email-input {
    width: 300px;
  }
}

@media screen and (max-width: 330px) {
  .forgotten-password-details h1 {
    font-size: 2rem;
  }

  .information-text-forgotten-password {
    font-size: 1.1rem;
  }

  .form-forgotten-password {
    width: 250px;
  }

  .user-email-input {
    width: 250px;
  }

  .divider {
    width: 250px;
  }
}
