.container--login-form {
  margin-top: 10vh;
  padding: 10.5rem 0;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header h1 {
  margin: 5px auto;
  font-size: 3rem;
  color: #3f4e4f;
}

.register-link {
  color: #3f4e4f;
  font-size: 1.3rem;
}

.register-link a {
  color: rgb(104, 104, 104);
}

.register-link a:hover {
  color: blue;
}

.form-container {
  margin: 20px auto;
}

.login-input {
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px #dcd7c9;
  border: none;
  width: 300px;
  height: 30px;
  font-size: 1.5rem;
}

.login-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  border-radius: 4px;
  background-color: #3f4e4f;
  padding: 5px 15px;
  border: none;
  outline: none;
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  color: #dcd7c9;
  font-family: "Hubballi", cursive;
}

.submit-button:hover {
  background-color: #a27b5c;
  color: white;
  cursor: pointer;
}

.forgot-password {
  color: #3f4e4f;
  margin-top: 10px;
}

.forgot-password:hover {
  color: #a27b5c;
  cursor: pointer;
}
