.otp-group {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.otp-group h1 {
  margin: 5px auto;
  font-size: 3rem;
  color: #3f4e4f;
}

.otp-group p {
  color: #3f4e4f;
  font-size: 1.3rem;
}

.otp-group form {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-group form input {
  background-color: #dcd7c9;
  border: none;
  height: 28px;
  outline: none;
  font-size: 1.4rem;
  font-family: "Hubballi", cursive;
  text-align: center;
  padding-left: 13px;
}

.otp-input {
  width: 100%;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  margin: 0 5px;
}

@media screen and (max-width: 550px) {
  .otp-group h1 {
    font-size: 2rem;
  }

  .otp-group p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 380px) {
  .otp-group h1 {
    text-align: center;
  }

  .otp-group p {
    text-align: center;
  }

  .otp-group form input {
    width: 300px;
    padding: 0;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  .otp-group form input {
    width: 240px;
  }
}
