.icon h2 {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.stars {
  display: flex;
  justify-content: center;
}

.stars svg {
  stroke: orange;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
