.container--filter-bar {
  border-radius: 8px;
  background-color: #f1efe6;
  padding: 20px 30px;
}

.header--filter-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header--filter-bar button {
  padding: 0;
  text-decoration: underline;
  background-color: transparent;
  color: rgb(206, 22, 22);
  border: none;
}
.header--filter-bar button:hover {
  cursor: pointer;
  color: #3f4e4f;
}

.hidden {
  display: none;
}

.filter-divider {
  margin: 15px 0;
  height: 1px;
  border: none;
  background-color: lightgray;
  flex: 1 1 0%;
}

.container--filter-list fieldset {
  border: none;
  margin: 0 0 30px;
}

.container--fieldset ul {
  display: flex;
  flex-wrap: wrap;
}

.container--filter-bar li {
  list-style-type: none;
  margin: 0 5px 5px 0;
}

.filter-buttons {
  padding: 7px 12px;
  border: solid 2px #dcd7c9;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
}

.filter-buttons:hover {
  border-color: #3f4e4f;
}

.active-filter {
  border-color: #3f4e4f;
  background-color: #3f4e4f;
  color: white;
}

.title--filter {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.price-list {
  flex-direction: column;
}

.price-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.price-list li label {
  margin-left: 10px;
  font-size: 1.1rem;
}
.filter-bar-icon {
  display: none;
}

.closed {
  margin-top: 45px;
  flex: 2;
}

.filter-bar-hr {
  display: none;
}

@media screen and (max-width: 699px) {
  .closed {
    display: none;
  }

  .filter-bar-icon {
    display: flex;
    font-size: 2rem;
  }

  .container--filter-bar-icon {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .filter-bar-hr {
    display: block;
    background-color: rgb(160, 160, 160);
    height: 1px;
    border: none;
    margin: 10px 0;
  }
}
